body {
  background-color: black;

}

.main {
  background-color: white;
  margin-top: 100px;
  padding-left: 100px;
  min-width: 1100px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  width: 559px;
  height: 494px;
}

.ryu-still, .ryu-ready, .ryu-throwing {
  width: 559px;
  height: 494px;
}

.ryu-ready, .ryu-throwing {
  display: none;
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');

}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
  
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
  
}

.hadouken, .ryu-still, .ryu-ready, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  top: 167px;
  left: 520px;
  z-index: 10;
}
.logo {  
  width: 670px;
  height: 494px;
  float: right;
  display:block;
  text-align: center;

}
.pic,.jq,.texts{
  width: 670px;
  height: 494px;
}
.info{
  width: 670px;
  height: 250px;
  margin-top: 167px;
  z-index: 10;
}
.jq,.info,.texts{
  display :none;
}
.pic img{
  width:670px;
  height: 250px;
  padding-top:4em;  
}
.info{
  text-align: center;
  color: red;
  font-size: 4em;
  }
.jq{
  padding-top: 7em;
  width:670px;
  height: 250px;
}
.texts{
  font-size: 2em;
  padding-top: 1.5em;
}
.texts .one{
  float:left;
}
.texts .two{
  padding-top: 5em;
}